.header {
    width: 750px;
    background: rgb(255, 149, 255);
    margin-bottom: 3em;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #ffffff;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #818181;
}

.active-nav-item {
    color: #000000;
}